<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HibernatewebTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Addprodservlet</display-name>
    <servlet-name>Addprodservlet</servlet-name>
    <servlet-class>com.demo.servelet.Addprodservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addprodservlet</servlet-name>
    <url-pattern>/Addprodservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addprodservlet1</display-name>
    <servlet-name>Addprodservlet1</servlet-name>
    <servlet-class>com.dem.servlet.Addprodservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addprodservlet1</servlet-name>
    <url-pattern>/Addprodservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.demo.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addproductservlet</display-name>
    <servlet-name>Addproductservlet</servlet-name>
    <servlet-class>com.demo.servlet.Addproductservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addproductservlet</servlet-name>
    <url-pattern>/Addproductservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Displayservlet</display-name>
    <servlet-name>Displayservlet</servlet-name>
    <servlet-class>com.demo.servlet.Displayservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Displayservlet</servlet-name>
    <url-pattern>/Displayservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.demo.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditproductServlet</display-name>
    <servlet-name>EditproductServlet</servlet-name>
    <servlet-class>com.demo.servlet.EditproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditproductServlet</servlet-name>
    <url-pattern>/EditproductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditData</display-name>
    <servlet-name>EditData</servlet-name>
    <servlet-class>com.demo.servlet.EditData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditData</servlet-name>
    <url-pattern>/EditData</url-pattern>
  </servlet-mapping>
</web-app>